@import url('https://fonts.googleapis.com/css?family=Raleway');
* { font-family: 'Raleway', serif; font-size: 20px; }
span.help-block { font-size: .7em; }
form label { font-weight: normal; }
.success_msg { color: '#218823'; }
.form { border-radius: 5px; border: 1px solid #d1d1d1; padding: 0px 10px 0px 10px; margin-bottom: 50px; }
#image_display { height: 90px; width: 80px; float: right; margin-right: 10px; }


.absoluteCenter {
    text-align: center;
    line-height: 2em;
}
@media only screen and (max-width: 600px)  {
  * {
    font-size: 30px !important;
    line-height: 1.5em;
  }

  .container {
    min-width: -webkit-fill-available !important;
  }

  .row {
    min-width: -webkit-fill-available !important;
  }
  .form-control {
    height: 64px;
    border-radius: 10px;
    max-width: -webkit-fill-available !important;
  }

  .input-group-addon, .input-group-btn {
    width: 50% !important;
  }

  .btn {
    border-radius: 10px;
    height: 70px;
    padding: 15px;
  }
  
  input[type="checkbox"] + label {
    width: 80px !important;
    height: 40px !important;
    border-radius: 40px !important;
  }
  
  input[type="checkbox"] + label::before {
    width: 32px !important;
    height: 32px !important;
    top: 4px !important;
    left: 4px !important;
  }

  input[type="checkbox"]:checked + label::before {
    transform: translateX(40px) !important;
  }
  

}

.infoBlock {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ffd000;
    background: rgba(233, 209, 74, 0.2);
    /* color: #edf856; */

}


table > tbody > tr > td {
    vertical-align: middle !important;
}

table > thead > tr > th:not(:nth-child(2)) {
    text-align: center;
    vertical-align: middle;
}
.top-padding {
    padding-top: 20px !important;
}
#point_selector, #user_selector{
    display: none;
}

.profilePicture {
    border-radius: 50%;
  }


input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }
  
  input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }
  
  input[type="checkbox"]:checked + label {
    background-color: #2196F3;
  }
  
  input[type="checkbox"]:checked + label::before {
    transform: translateX(20px);
  }

  input[type="checkbox"]:disabled + label {
    /* transform: translateX(20px);
     */
    cursor: not-allowed !important;
    background-color: #777;
  }

  input[type="checkbox"]:disabled + label::before {
    /* transform: translateX(20px);
     */
    cursor: not-allowed !important;
    background-color: #bbb;
  }
