
body {
	background-color: #a7c7d8;
}

img.icon {
	display: block;
	width: 256px;
	height: 256px;
	margin: auto;
	margin-top: 5%;
}

.messageText {
	color: white;
	text-align: center;
	font-size: 72px !important;
	font-family: 'Raleway', serif; 
	font-weight: 800;
}